<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"> DocDoc</a>
      <span class="navbar-text">Brought to you by ZocDoc</span>
      <ul class="nav pull-right">
        <li>
          <a href="/docco">Docco</a>
        </li>
        <li>
          <a href="http://csr.zocdoc.com">CSR</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid content">
  <div class="row-fluid">
    <div class="span3 doccoNav well"></div>
    <div class="span3"></div>
    <div class="span9">
      <div class="doccoHeader"></div>
      <div class="doccoContent"></div>
    </div>
  </div>

  <footer>
    <p><a href="http://twitter.com/mmurch" target="_blank">@mmurch</a></p>
  </footer>
</div>